body {
   background-image: url(texture1.jpg);
   width: 100%;
}


.hero-image {
    background-image: url(fall-print.jpg);
    width: 100%;

}
.container {
     box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
}